<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog de Norore :: {% block title %}{% endblock %}</title>
        <link type="text/css" href="/static/css/stylesheet.css" rel="stylesheet" />
    </head>
    <body>
        <header id="mainheader"><p>En tête du blog</p></header>
        <nav id="mainmenu">
            <ul>
                <li><a href="/">Accueil</a></li>
                {% for page in pages %}
                <li><a href="/p/{{page.id}}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section id="main">
            <section id="content">
                {% block content %}{% endblock %}
            </section>
            <aside id="quickmenu">
                {% if user.is_authenticated %}
                <section>
                    <header>
                        <h1>Connecté sous {{ user.username }}</h1>
                    </header>
                    <ul>
                        <li><a href="#">Changer mon profil</a></li>
                        <li><a href="/add_category/">Ajouter une catégorie</a></li>
                        <li><a href="#">Ajouter un article</a></li>
                        <li><a href="#">Ajouter une page</a></li>
                        <li><a href="#">Commentaires à modérer</a> : {{ nb_comments.values.count }}</li>
                        <li><a href="/admin/">Administration globale</a></li>
                    </ul>
                </section>
                {% endif %}
                <section>
                    <header>
                        <h1>Catégories</h1>
                    </header>
                    <ul>
                        {% for categorie in cats %}
                        <li><a href="/c/{{ categorie.id }}">{{ categorie.name }}</a> ({{ categorie.nb_articles }})</li>
                        {% empty %}
                        <li>Aucune catégorie</li>
                        {% endfor %}
                    </ul>
                </section>
                <section>
                    <header>
                        <h1>Archives</h1>
                    </header>
                    {% for archive in archives %}
                    <ul>
                        {% ifchanged %}
                        <li>
                        <a href="/{{ archive.creation_date|date:"Y" }}/">{{ archive.creation_date|date:"Y" }}</a>
                            <ul>
                                {% ifchanged %}
                                <li>
                                    <a href="/{{ archive.creation_date|date:"Y" }}/{{ archive.creation_date|date:"m" }}">{{ archive.creation_date|date:"M" }}</a> 
                                    ({{ archive.creation_date|date:"M"|length }})
                                </li>
                                {% endifchanged %}
                            </ul>
                        </li>
                        {% endifchanged %}
                    </ul>
                    {% empty %}
                    <p>Aucun article publié</p>
                    {% endfor %}
                </section>
                <section>
                    <header>
                        <h1>Liens</h1>
                    </header>
                    <ul>
                        {% for url in links %}
                        <li><a href="{{ url.link }}" title="{{ url.description }}">{{ url.name }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>
        </section>
        <footer id="mainfooter">
            <p>Blog personnel de <a href="http://www.norore.fr">Norore</a><br />
            Fièrement propulsé par <a href="https://www.djangoproject.com/">Django {{ version }}</a>, source disponible sur <a href="https://github.com/Norore/blog-django">GitHub</a><br />
            Sauf mention contraire, le contenu du blog est sous licence Creative Commons 2.0 by NC</p>
        </footer>
    </body>
</html>
