{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

{% for article in articles %}

<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Publié le {{ article.creation_date }}, 
            par <a href="/auteur/{{ article.author }}">{{ article.author }}</a>, 
            dans <a href="/c/{{ article.categorie.id }}">{{ article.categorie }}</a>
            {% if article.edit_date %}
            <br />
            Modifé le {{ article.edit_date }}
            {% endif %}</p>
            <hr />
    </header>
    <p>
    {{ article.content_markdown|truncatewords_html:140 }}
    </p>
    <footer>
        <hr />
        <p><a href="/a/{{ article.id }}#comments">
            {{ article.nb_comments }}</a> {{ article.nb_comments|pluralize:"commentaire,commentaires" }} -
        {% for tag in article.tags.all %}
            <a href="/tag/{{ tag.slug }}/" title="Tag {{ tag.title }}">{{ tag.title }}</a>,
        {% empty %}
            aucun tag
        {% endfor %}
    </footer>
</article>

{% empty %}

<p>Aucun article n'est publié.</p>

{% endfor %}

{% endblock %}
