{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

{% for article in articles %}

<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Publié le {{ article.creation_date }}, 
            par <a href="/auteur/{{ article.author }}">{{ article.author }}</a>, 
            dans <a href="/cat/{{ article.categorie }}">{{ article.categorie }}</a></p>
            <hr />
    </header>
    <p>
    {{ article.content }}
    </p>
    <footer>
        <hr />
        <p><a href="/article/{{ article.id }}#comments">nb comm</a> commentaires -
        {% for tag in article.tags.name %}
            {{ tag }}
        {% empty %}
            aucun tag
        {% endfor %}
    </footer>
</article>

{% empty %}

<p>Aucun article n'est publié.</p>

{% endfor %}

{% endblock %}
