{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<article>
    <header>
        <h1>Titre article 2</h1>
        <p>Publié le <a href="#">2 Janvier 1970</a> à 0h00, par <a href="#">Norore</a>, dans <a href="#">Divers</a></p>
        <hr />
    </header>

    <p>Ne t’inquiète pas, elle n’a rien pour l’instant. Par contre, dès que je serais relié au réseau, Florence ne sera plus. Tu comprends, je ne peux pas laisser Florence me gêner dans ma tâche. Et puis, elle en sait beaucoup trop sur moi.</p>
    <p>Aujourd’hui c’est son anniversaire. Il a vingt six ans, mais il ne s’en souvient plus. Il ne prête pas attention à ce genre de détails. David est un homme distrait, timide, mais sûr de lui. Il est grand et minces. De grandes mains prolongent ses longs bras. Il lui serait possible de tenir deux bouteilles de champagnes dans chacune de ses mains, mais il ne boit jamais. L'alcool le rend malade et malheureux, voir dépressif.<a href="#">[...]</a></p>

    <footer>
        <hr />
        <p><a href="#">0</a> commentaires - <a href="#">divers</a>, <a href="#">faux-texte</a></p>
    </footer>
</article>

<article>
    <header>
        <h1>Titre article 1</h1>
        <p>Publié le <a href="#">1 Janvier 1970</a> à 0h00, par <a href="#">Norore</a>, dans <a href="#">Divers</a></p>
        <hr />
    </header>

    <p>Ne t’inquiète pas, elle n’a rien pour l’instant. Par contre, dès que je serais relié au réseau, Florence ne sera plus. Tu comprends, je ne peux pas laisser Florence me gêner dans ma tâche. Et puis, elle en sait beaucoup trop sur moi.</p>
    <p>Aujourd’hui c’est son anniversaire. Il a vingt six ans, mais il ne s’en souvient plus. Il ne prête pas attention à ce genre de détails. David est un homme distrait, timide, mais sûr de lui. Il est grand et minces. De grandes mains prolongent ses longs bras. Il lui serait possible de tenir deux bouteilles de champagnes dans chacune de ses mains, mais il ne boit jamais. L'alcool le rend malade et malheureux, voir dépressif.<a href="#">[...]</a></p>

    <footer>
        <hr />
        <p><a href="#">0</a> commentaires - <a href="#">divers</a>, <a href="#">faux-texte</a></p>
    </footer>
</article>

{% endblock %}
