{% extends "base.html" %}

{% block title %}

Liste des catégories

{% endblock %}

{% block content %}

{% if categories %}

<article>
    <header>
        <h1>Liste des catégories existantes</h1>
        <hr />
    </header>
    <p>
    <table>
        <thead>
            <th>Catégorie</th>
            <th>Description</th>
            <th>Modifier ?</th>
        </thead>
        {% for category in categories %}
        <tr>
            <td><a href="/c/{{ category.id }}/" title="Voir les articles de la catégorie {{ category.name }}">{{ category.name }}</a></td>
            <td>{{ category.desc_markdown }}</td>
            <td><a href="/edit_category/{{ category.id }}/" title="Modifier la catégorie {{ category.name }}">Modifier</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/add_category/" title="Ajouter une catégorie">Ajouter une catégorie</a>
    </p>
</article>

{% else %}

<p class="error">Aucune catégorie n'existe !<br>
<a href="/add_category/" title="Créer la première catégorie">Créer votre première catégorie !</a></p>

{% endif %}

{% endblock %}
