{% extends "base.html" %}

{% block title %}

{% if article.published %}

{{ article.title }}

{% else %}

article non trouvé

{% endif %}

{% endblock %}

{% block content %}

{% if article.published %}

<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Publié le {{ article.creation_date }}, 
        par <a href="/auteur/{{ article.author}}">{{ article.author }}</a>, 
        dans <a href="/c/{{ article.categorie.id }}">{{ article.categorie }}</a>
        {% if article.edit_date %}
        <br>
        Dernière modification le {{ article.edit_date }}
        {% endif %}
        </p>
        <hr>
    </header>
    {{ article.content_markdown }}
    <footer>
        <hr />
        <p><a href="/a/{{ article.id }}#comments/">
            {{ comments.count }}</a> {{ comments.count|pluralize:"commentaire,commentaires" }} -
        {% for tag in article.tags.all %}
            <a href="/tag/{{ tag.slug }}/" title="Tag {{ tag.title }}">{{ tag.title }}</a>,
        {% empty %}
            aucun tag
        {% endfor %}
    </footer>
</article>

<section id="form">
    <header>
        <h1>La parole est à vous :</h1>
    </header>
    <form action="/a/{{ article.id }}/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Commenter">
    </form>
</section>

<section id="comments">
    <header>
        <h1>Commentaires</h1>
    </header>
    {% for comment in comments %}
    <article>
        <header>
            <p>Par 
            {% if comment.site %}
            <a href="{{ comment.site }}" title="Visiter le site de {{ comment.pseudo }}">{{ comment.pseudo }}</a>,
            {% else %}
            {{ comment.pseudo }},
            {% endif %}
            le {{ comment.creation_date }}</p>
        </header>
        {{ comment.content_markdown }}
    </article>
    {% empty %}
    <p class="info">Personne n'a encore commenté cet article.</p>
    {% endfor %}
</section>

{% else %}

<p class="error">L'article n'existe pas !</p>

{% endif %}

{% endblock %}
