{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Publié le {{ article.creation_date }}, 
        par <a href="/auteur/{{ article.author}}">{{ article.author }}</a>, 
        dans <a href="/c/{{ article.categorie.id }}">{{ article.categorie }}</a>
        {% if article.edit_date %}
        <br />
        Dernière modification le {{ article.edit_date }}
        {% endif %}
        </p>
        <hr />
    </header>
    {{ article.content_markdown }}
    <footer>
        <hr />
        <p><a href="/a/{{ article.id }}#comments">
            {% for comment in comments %}
            {% if comment.id == article.id %}
                {% if comment|length < 2 %}
                    {{ comment|length }}</a> commentaire -
                {% else %}
                    {{ comment|length }}</a> commentaires -
                {% endif %}
            {% endif %}
            {% endfor %}
        {% for tag in article.tags.all %}
            <a href="/tag/{{ tag.slug }}/" title="Tag {{ tag.title }}">{{ tag.title }}</a>,
        {% empty %}
            aucun tag
        {% endfor %}
    </footer>
</article>

<section id="form">
    <header>
        <h1>La parole est à vous :</h1>
    </header>
</section>

<section id="comments">
    <header>
        <h1>Commentaires</h1>
    </header>
    {% for comment in comments %}
    <article>
        <header>
            <p>Par 
            {% if comment.site %}
            <a href="{{ comment.site }}" title="Visiter le site de {{ comment.pseudo }}">{{ comment.pseudo }}</a>,
            {% else %}
            {{ comment.pseudo }},
            {% endif %}
            le {{ comment.creation_date }}</p>
        </header>
        {{ comment.content_markdown }}
    </article>
    {% empty %}
    Personne n'a encore commenté cet article.
    {% endfor %}
</section>

{% endblock %}
