{% extends "base.html" %}

{% block title %}

{% if category %}

{{ category.name }}

{% else %}

catégorie non trouvée

{% endif %}

{% endblock %}

{% block content %}

{% if category %}

<article>
    <header>
        <h1>{{ category.name }}</h1>
        <p>{{ category.desc_markdown }}</p>
        <p><a href="/edit_category/{{ category.id }}/" title="Modifier la catégorie {{ category.name }}">Modifier</a>
        <hr />
    </header>
    <p><a href="/add_article/" title="Ajouter un article pour la catégorie {{category.name}}">Nouvel article</a></p>
    <p>
    {% if articles|length > 0 %}
    <ul>
        {% for article in articles %}
        <li><a href="/a/{{ article.id }}" title="{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="error">Cette catégorie ne contient pas encore d'article.</p>
    {% endif %}
    </p>
</article>

{% else %}

<p class="error">La catégorie n'existe pas !</p>

{% endif %}

{% endblock %}
