html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #585858;
    min-height: 100%;
    padding: 0 10px auto;
    margin: 0 auto;
    position: relative;
}

/* main header part */
header#mainheader {
    background: #ccc;
    height: 120px;
    margin: auto;
    margin-top: 1em;
    width: 80%;
    border-radius: 25px 25px 0px 0px;
}

header#mainheader p {
    padding: 1em 3em;
    text-align: right;
}

/* main navigation menu part */
nav#mainmenu {
    background: #3e3748;
    margin: 0 auto;
    width: 80%;
    height: 1.3em;
}
nav#mainmenu ul {
    margin: 0 auto;
    padding: 1px 2px;
    list-style: outside none none;
    font-size: 1.0em;
    line-height: 1.3em;
}
nav#mainmenu ul li {
    padding-left: 0.1em;
    color: #ccc;
    padding-left: 5px;
    float: left;
}
nav#mainmenu ul li a{
    color: #ccc;
    text-decoration: none;
}
nav#mainmenu ul li a:hover{
    color: #eee;
}

/* main section part */
section#main {
    clear: both;
    background: #ccc;
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
    overflow: auto;
    padding: 0;
}
section#content {
    float: left;
    padding: 0 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 82%;
}

/* quickmenu part */
aside#quickmenu {
    background: #ccc;
    border-left: 1px dashed #3e4651;
    margin: 0 auto;
    margin-top: 5px;
    float: right;
    width: 15%;
    padding: 0 5px;
}

aside#quickmenu section{
    background: white;
    box-shadow: 0 0 5px #585858;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
aside#quickmenu section header{
    border-bottom: 1px solid #2f8282;
    margin-bottom: 2px;
}
aside#quickmenu section header h1{
    font-size: 1.2em;
    text-align: center;
    color: #6c535d;
    padding: 2px;
    margin: 0 auto;
}
aside#quickmenu section ul{
    margin: 0 auto;
    padding: 0;
    padding-left: 18px;
}

/* article part */
article{
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #585858;
}
article hr{
    color: #2f8282;
    margin-top: 4px;
    margin-bottom: 4px;
}
article header h1{
    font-size: 1.5em;
    margin: 0 auto;
    color: #6c535d;
}
article header p, article footer p{
    color: #666666;
    font-size: 0.8em;
    margin: 0 auto;
    margin-top: 4px;
}

/* link part */
article a, aside#quickmenu a{
    color: #ff6600;
    text-decoration: none;
}

/* main footer part */
footer#mainfooter {
    background: #3e3748;
    color: #beb7c8;
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
    padding: 0;
    overflow: auto;
}
footer#mainfooter p{
    padding: 2px;
    margin: 0 auto;
    font-family: "Courier 10 Pitch", Courier;
}
footer#mainfooter a{
    color: white;
    text-decoration: none;
}

/* special classes */

p.error{
    background: pink;
    border: 1px solid red;
    color: red;
    padding: 4px;
}
p.info {
    background: lightblue;
    border: 1px solid blue;
    color: blue;
    padding: 4px;
}

/* table contents */

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 4px;
}
thead {
    background: #222;
    color: lightgrey;
}
td, th {
    padding: 2px;
}
td {
    border: 1px solid #222;
}
